///////////////////////////
//    DashBoard Page
///////////////////////////

.mainContainer 
.mainContainer-dashboardContainer
  display: flex
  flex-direction: row
  justify-content: space-between
  padding-top: 40px
  
.sidebarNavContainer
  width: 210px
.contentMainContainer
  padding-left: 50px
  width: calc( 100% - 210px )




  
////
//// sidebarNavContainer
////

.sidebarNavContainer-button
  display: none
  cursor: pointer
  position: fixed
  left: 0
  top: 80px
  box-shadow: $boxShadow
  padding: 10px
  border-radius: $borderRadius
  z-index: 10
  background-color: rgba(255,255,255,0.8)
  &__img 

.sidebarNavContainer
  display: flex
  flex-direction: column
  &__userInfo
  &__dropList
  &__sidebarNav


//
// userInfo
//

.userInfo
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 20px
  &__logo
    width: 100px
    height: 100px
    border-radius: 50%
    margin-bottom: 20px
    &-img
      width: 100%
      height: auto
      border-radius: 50%
  &__name
    font-family: "SF-Pro-Semibold"
    font-size: 1.25rem
    color: $main-primary-color
  &__post
    font-size: 0.9rem
    color: $main-primary-color
    opacity: 0.8

//
// dropList
//

.dropList
  box-shadow: $boxShadow
  margin-bottom: 20px
.dropList-current
  position: relative
  border-radius: 4px
  // border-bottom-left-radius: 0
  // border-bottom-right-radius: 0
  background-color: $main-accent-color
  font-family: "SF-Pro-Semibold"
  font-size: 0.9rem
  color: #fff
  width: 100%
  padding: 7px 10px
  cursor: pointer
  &__arrowIcon
    position: absolute
    right: 10px
    &-svg
      width: 20px
      height: 20px

.dropList-ul
  box-shadow: $boxShadow
  display: none
  // display: none
  // position: absolute
  // left: 0
  // right: 0
  // top: 36px
  margin-top: 10px
  margin-bottom: -7px
  margin-left: -10px
  margin-right: -10px
  padding: 0
  list-style: none
  font-family: "SF-Pro-Regular"
  background-color: #fff
  color: $main-primary-color
  border-bottom-left-radius: 4px
  border-bottom-right-radius: 4px
  padding-bottom: 10px
  padding-top: 10px
  &__li
  &__li_font_bold
    font-family: "SF-Pro-Semibold"
  &__a
    display: block
    color: $main-primary-color
    padding: 5px 10px
    position: relative
    &:hover,
    &:active,
    &:focus
      background-color: $white-hover-color
      color: $main-primary-color
      text-decoration: none
.dropList-ul__a-span
  position: absolute
  right: 10px
  font-size: 1rem


//
// sideNavigation
//

.sideNavigation
  margin-bottom: 20px
  padding: 0
  list-style: none
  &__li
  &__a
    display: flex
    align-items: center
    padding: 10px 0
    &:hover,
    &:active,
    &:focus
      font-family: "SF-Pro-Bold"
      color: $main-accent-color
      text-decoration: none
    &-icon
      margin-right: 10px
      width: 24px
      height: 24px
      display: flex
      justify-content: center
      align-items: center
      &Img
        width: 100%
        height: auto
    &-title
      color: $main-primary-color
      font-family: "SF-Pro-Semibold"
      font-size: 0.9rem
        
.sideNavigation__a:hover .sideNavigation__a-title,
.sideNavigation__a:active .sideNavigation__a-title,
.sideNavigation__a:focus .sideNavigation__a-title
  font-family: "SF-Pro-Semibold"
  color: $main-accent-color

.sideNavigation__a-iconImg.gridIcon
  width: 18px
  height: 18px
//
// nav-divider
//

.nav-divider
  width: 100%;
  display: block
  height: 1px
  background-color: $main-primary-color
  margin-bottom: 20px


+media-breakpoint-down($xl)
  .contentMainContainer
    padding-left: 30px
+media-breakpoint-down($lg)
  .sidebarNavContainer-button
    display: block
  .sidebarNavContainer
    display: none
    position: fixed
    left: 0
    top: 0
    bottom: 0
    background-color: rgba(255,255,255,0.9)
    z-index: 1
    width: 250px
    padding: 20px
  .contentMainContainer
    padding-left: 0
    width: 100%

+media-breakpoint-up($lg)
  .sidebarNavContainer
    display: flex !important
  .sidebarNavContainer-button
    display: none !important


////
//// contentMainContainer
////

//
// alert
//

.mt-alert
  display: flex
  justify-content: space-between
  align-items: center
  padding: 17px 30px
  box-shadow: $boxShadow
  border-radius: $borderRadius
  color: #fff
  font-family: "SF-Pro-Semibold"
  margin-bottom: 40px
  &__infoBlock
  &__buttons


.alertInfo
  display: flex
  align-items: center
  &__icon
    width: 24px
    margin-right: 30px
    &-img
      width: 24px
      height: auto
  &__textBlock
    font-size: 1.25rem

.mt-alert__buttons button
  margin: 0 10px
.mt-alert__buttons button:first-child
  margin-left: 0
.mt-alert__buttons button:last-child
  margin-right: 0

//  .mt-alert_size_lg 

.mt-alert_size_lg .alertInfo__icon
  width: 56px
  height: 56px
.mt-alert_size_lg .alertInfo__icon-img
  height: auto
  width: 56px

.alertInfo__textBlock
  display: flex
  flex-direction: column
  max-width: 450px
  &-title
    font-size: 1.25rem
    font-family: "SF-Pro-Semibold"
  &-text
    font-family: "SF-Pro-Regular"
    font-size: 1rem
    opacity: 0.75


///
/// contentWidget
///

.contentWidget
  padding-bottom: 40px
  display: flex
  flex-direction: column
  height: 100%
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    &-title
      color: $widget-title-color
      font-size: 1.25rem
      font-family: "SF-Pro-Semibold"
      letter-spacing: 0.25px
    &-linkBlock
  &__body
    border-radius: $borderRadius
    box-shadow: $boxShadow 
    padding: 30px
    height: 100%



.contentWidget-headLink
  display: flex
  font-family: "SF-Pro-Semibold"
  color: $widget-link-color
  font-size: 0.9rem
  letter-spacing: 1.5px
  &:hover,
  &:focus,
  &:active
    color: $widget-link-color
  &__text
  &__icon
    margin-left: 10px
    &-img


//
// heroCharts
//

.widget-divider
  width: 100%
  height: 1px
  background-color: #cbcbcb
  margin-bottom: 10px
  margin-top: 20px


.contentWidget_hero
.contentWidget_hero .contentWidget-headLink
  color: $font-lignt2-color

.heroCharts
  &__row
    margin-left: -30px
    margin-right: -30px
  &__col
    padding-right: 30px
    padding-left: 30px

.topChartContainer
  &__infoCol
  &__chartCol
    height: 240px

.heroCartTopInfoContainer
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  
  &-infoBlock
    color: #2c2c2c
    margin-bottom: 20px
    &__title
      font-family: "SF-Pro-Semibold"
      font-size: 1.5rem
      line-height: 1.8rem
    &__subTitle
      font-size: 0.9rem
      font-family: "SF-Pro-Regular"
    &__textInfo
      font-family: "SF-Pro-Light"
      font-size: 0.9rem
      &-span
        color: #2dcd7a
  &-btnBLock

.heroCartTopInfoContainer-btnBLock .btn
  width: 100%

.heroCartTopChartContainer
  height: 100%
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  transform: rotate(180deg)
  &__progressCol
    width: 22px



.progressHorizontalContainer
  margin-bottom: 10px
  &__text
    font-size: 1rem
    font-family: "SF-Pro-Light"
    color: $font-lignt2-color
  &__chart

.progressHorizontal
  height: 4px
  border-radius: $borderRadius
  &__bar
    border-radius: $borderRadius

+media-breakpoint-down($md)
  .heroCartTopInfoContainer
    margin-bottom: 20px

.violet_color
  background-color: $violet-color
.violetDark_color
  background-color: #9013fe
.orange_color
  background-color: #ff9f43
.yellow_color
  background-color: #f8e71c
.red_color
  background-color: #ea5455
.redLight_color
  background-color: #ea6381
.redDark_color
  background-color: #d0021b
.green_color
  background-color: #28c76f
.darkGreen_color
  background-color: #417505
.dark_color
  background-color: #243953


.progressHorizontal.violet_color
  background-color: rgba(116, 103, 240, 0.1)
.progressHorizontal.violet_color .progressHorizontal__bar
  background-color: #7467f0

.progressHorizontal.orange_color
  background-color: rgba(255, 159, 67, 0.1)
.progressHorizontal.orange_color .progressHorizontal__bar
  background-color: #ff9f43

.progressHorizontal.yellow_color
  background-color: rgba(248, 231, 28, 0.1)
.progressHorizontal.yellow_color .progressHorizontal__bar
  background-color: #f8e71c

.progressHorizontal.red_color
  background-color: rgba(234, 84, 85, 0.1)
.progressHorizontal.red_color .progressHorizontal__bar
  background-color: #ea5455

.progressHorizontal.green_color
  background-color: rgba(40, 199, 111, 0.1)
.progressHorizontal.green_color .progressHorizontal__bar
  background-color: #28c76f

.progressHorizontal.darkGreen_color
  background-color: rgba(65, 117, 5, 0.1)
.progressHorizontal.darkGreen_color .progressHorizontal__bar
  background-color: #417505


//
// carouselWidget
//

.carouselWidget
.carouselWidget-slide
  height: 400px
  //background-color: #eee

.carousel-control-next-icon, 
.carousel-control-prev-icon
  width: 15px
  height: 30px

.carousel-control-next, 
.carousel-control-prev
  width: 10%

.carousel-control-prev
  left: -30px
.carousel-control-next
  right: -30px

.carousel-control-prev-icon
  background-image: url('../images/icons/chevron-left_arrowhead.svg')
.carousel-control-next-icon
  background-image: url('../images/icons/chevron-right_arrowhead.svg')

.carousel-indicators li
  width: 15px
  height: 15px
  border-radius: 50%
  border: solid 1px #979797
  background-color: transparent
  opacity: 1
  margin-left: 6px
  margin-right: 6px
.carousel-indicators li.active
  border: solid 1px #979797
  background-color: #9b9b9b

.carousel-item 

.carouselWidget-slideTextBlock
  text-align: center
  color: $main-primary-color
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  &__title
    font-family: "SF-Pro-Semibold"
    font-size: 1.5rem
    color: $main-primary-color
    margin-bottom: 40px
    max-width: 300px
  &__subTitle
    color: $main-primary-color
    font-size: 1rem
    font-family: "SF-Pro-Regular"
    margin-bottom: 40px
    max-width: 300px
  &__btnBlock
    max-width: 300px
    width: 100%
  &__btnBlock .btn
    width: 100%

.carouselWidget-slideChartBlock
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  &__title
    max-width: 300px
    font-size: 4.4rem
    color: $main-primary-color
    font-family: "SF-Pro-Bold"
    line-height: 5rem
  &__subTitle
    max-width: 300px
    font-family: "SF-Pro-Semibold"
    color: $main-primary-color
    font-size: 1rem
    margin-bottom: 30px
  &__chartContainer
    width: 100%
    max-width: 300px
    margin-bottom: 30px


.carouselWidget-slideChartBlock__chartContainer .progressHorizontalContainer__text
  display: flex
  justify-content: space-between
.carouselWidget-slideChartBlock__chartContainer .progressHorizontalContainer
  margin-bottom: 20px

+media-breakpoint-up($xl)
  .carousel-control-next, 
  .carousel-control-prev
    width: 15%


//
// calendarPickerWidget
//


.calendarPickerWidget
.datepicker
  width: 100%

.datepicker--nav-title,
.datepicker--nav-title i
  font-family: "SF-Pro-Semibold"
  font-size: 1.25rem
  color: #282d32

.datepicker--day-name
  font-family: "SF-Pro-Semibold"
  color: rgba(40,45,50,0.7)
  font-size: 0.9rem

.datepicker--cell
  font-family: "SF-Pro-Regular"
  color: rgba(40,45,50,0.7)
  font-size: 0.9rem
.datepicker--nav-action path
  stroke: #282d32

.datepicker--cell.-current-
  color: $main-accent-color
.datepicker--cell.-current-.-selected-
  color: #fff 
.datepicker--cell.-selected-, 
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-selected-.-focus-
  background-color: $main-accent-color



.datepicker-inline,
.datepicker
  height: 100%
  border: none

.datepicker--nav
  padding: 0
  margin-bottom: 30px
  border: none
.datepicker--content
  padding: 0
  margin: 0 -20px

.datepicker--days-names
  margin: 8px 0 8px;


.datepicker--cells
  display: grid
  grid-template-columns: repeat(7, 1fr)
  justify-items: center
  height: 310px
.datepicker--cell
  place-self: center;
  

.datepicker--cell.datepicker--cell-day
  width: 32px
  height: 32px
  border-radius: 50%

.datepicker--cells.datepicker--cells-months
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: 30%
  height: 170px
.datepicker--cell-month
  width: 50%
  height: 50%

.datepicker--cells.datepicker--cells-years
  grid-template-columns: repeat(4, 1fr)
.datepicker--cell.datepicker--cell-year
  width: 50%
  height: 50%

  





















////
//// footerContent
////

.footerContent
  margin-top: 80px
  &__row
    margin-bottom: 20px

//
// accentLogo
//

.accentLogo
  max-width: 215px
  display: inline-block
  margin-bottom: 30px
  &__img
    width: 100%
    height: auto


//
// widgetBlock
//

.widgetBlock
  &__title
    margin-bottom: 30px
    font-size: 1rem
    line-height: 1rem
    font-family: "SF-Pro-Semibold"
    color: $heading-text-color
  &__content
    font-family: "SF-Pro-Regular"
    font-size: 1rem
    line-height: 1rem
    color: $lightText-color

.navLinks
  margin-bottom: 0
  padding-left: 0
  list-style: none
  &__li
  &__a
    color: $lightText-color
    font-family: "SF-Pro-Regular"
    padding: 10px 0
    display: inline-block
    &:hover,
    &:active,
    &:focus
      color: $lightText-color
    

.copyRight
  font-family: "SF-Pro-Regular"
  font-size: 0.9rem
  color: $lightText-color

// UP
+media-breakpoint-up($sm) // (min-width: 576px) 
+media-breakpoint-up($md)//(min-width: 768px)
+media-breakpoint-up($lg)//(min-width: 992px)
+media-breakpoint-up($xl)//(min-width: 1200px)
  .mt-alert_size_lg .alertInfo__textBlock
    max-width: 400px

// DOWN
+media-breakpoint-down($xl)//(max-width: 1199.98px)
  .mt-alert
    padding: 10px 15px
  .alertInfo__icon
    margin-right: 15px
  .alertInfo__textBlock,
  .alertInfo__textBlock-title
    font-size: 1rem
  .mt_btn
    padding: 7px 10px
    font-size: 0.8rem
  .alertInfo__textBlock-text
    font-size: 0.8rem
    line-height: 1rem
  .mt-alert_size_lg .alertInfo__textBlock
    max-width: 300px

+media-breakpoint-down($lg)//(max-width: 991.98px)

+media-breakpoint-down($md)//(max-width: 767.98px)
  .alertInfo__textBlock-title
    line-height: 1rem
    margin-bottom: 5px
  .mt-alert__buttons button
    margin-bottom: 10px
  .mt-alert__buttons button:last-child
    margin-bottom: 0
  .widgetBlock__title
    margin-bottom: 20px
    margin-top: 30px
  
+media-breakpoint-down($sm)//(max-width: 575.98px)
  html
    font-size: 14px
  