///////////////////////////
//    DashBoard Page
///////////////////////////

.mainContainer-dashboardContainer
  display: flex
  flex-direction: row
  justify-content: space-between
.sidebarNavContainer
  width: 210px
.contentMainContainer
  width: calc( 100% - 210px )
