//
// ROOT
//


.header-rate-block
  color: #fff
  font-family: "SF-Pro-Semibold"
  font-size: 20px
  letter-spacing: 0.25px
  display: flex
  align-items: center
  &__left-side
    margin-right: 10px
  &__right-side
    margin-left: 10px
    display: flex
    align-items: center
  &__title
    display: inline-block
  &__rate
    display: inline-block
  &__badge
    background-color: #fff
    color: $mt-primary
    font-family: "SF-Pro-Regular"
    font-size: 10px
    border-radius: 10px
    display: inline-block
    padding: 3px 12px

.header-close-block
  display: flex
  align-items: center
  color: #fff
  font-family: "SF-Pro-Semibold"
  font-size: 18px
  &__text
  &__icon
    margin-left: 20px
  &__icon-img
  &:hover,
  &:active,
  &:focus
    color: #fff

+media-breakpoint-down($lg)
  .header-rate-block__title,
  .header-close-block__text
    display: none
  .header-close-block__icon
    margin-left: 0

+media-breakpoint-down($sm)
  .header-rate-block
    display: none

.content-full-width
  padding-top: 30px

.widget-title
  font-size: 1.25rem
  line-height: 1.5rem
  font-family: "SF-Pro-Semibold"
  letter-spacing: 0.25px
  color: $widget-title-color
  margin-bottom: 30px

.topics-widget
  margin-bottom: 30px
  &__action
  &__block
.topics-widget-content
  box-shadow: $boxShadow
  padding: 30px
  font-family: "SF-Pro-Regular"
  &__title
    font-family: "SF-Pro-Semibold"
    color: #5e5e5e
    font-size: 18px
  &__subTitle
    font-family: "SF-Pro-Semibold"
    color: #5e5e5e
    font-size: 18px
    line-height: 1.1rem
    margin-bottom: 20px
  &__item
    font-family: "SF-Pro-Semibold"
    font-size: 1rem
    line-height: 1.25rem
    color: $heading-text-color
    margin-bottom: 10px
  &__btn
    margin-top: 30px

.topics-widget__action.topics-widget-content
  background-color: $mt-primary
  color: #fff
.topics-widget__action .topics-widget-content__title,
.topics-widget__action .topics-widget-content__subTitle,
.topics-widget__action .topics-widget-content__item
  color: #fff
.topics-widget__action .topics-widget-content__title,
.topics-widget__action .topics-widget-content__subTitle
  font-family: "SF-Pro-Bold"

.topics-widget-content__item:last-child
  margin-bottom: 0

.lg-btn
  display: flex
  color: $main-primary-color
  background-color: #fff
  align-items: center
  border-radius: $borderRadius-second
  transition: $boxTransition
  font-size: 1rem
  font-family: "SF-Pro-Semibold"
  justify-content: center
  padding: 8px 20px
  &:hover,
  &:focus,
  &:active
    box-shadow: $boxShadow
    text-decoration: none
    color: $main-primary-color

.lg-btn.lg-btn_accent
  color: #fff
  background-color: $main-accent-color
.lg-btn.lg-btn_primary
  color: #fff
  background-color: $main-primary-color


.settings-menu
  width: 35px
  height: 35px
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  &:hover,
  &:focus,
  &:active
    background-color: $white-hover-color

.date
  font-family: "SF-Pro-Regular"
  font-size: 12px
  line-height: 14px
  color: $font-lignt2-color


.widget-actions
  box-shadow: $boxShadow
  margin-bottom: 40px
  border-radius: 10px
  overflow: hidden
  &__head
    background-color: $main-accent-color
    padding: 30px
    color: #fff
    font-size: 18px
    font-family: "SF-Pro-Semibold"
    display: flex
    justify-content: space-between
  &__head-title
  &__head-badge
    width: 30px
    height: 30px
    background-color: #fff
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    color: #000
    
  &__body
    padding: 30px
  &__item

.widget-row-item
  margin-bottom: 30px
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px
  &__head-left
  &__title
    color: #6b6b6b
    font-size: 1rem
    font-family: "SF-Pro-Semibold"
    line-height: 1.1
  &__head-right
    display: flex
    align-items: center
  &__head-date
    margin-left: 15px
  &__head-menu
    margin-left: 10px
    margin-right: -15px
  &__body

.widget-row-item:last-child
  margin-bottom: 0






.complex-title
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 14px
  &__left
  &__right

.complex-title .widget-title
  margin-bottom: 0

.profile-icons-pallet
  &__img
    margin-right: -10px
    width: 40px
    height: 40px
    display: inline-block
    border-radius: 50%
    float: right

.widget-image
  border-radius: $borderRadius-second
  overflow: hidden 
  margin-bottom: 20px
  &__img
    width: 100%
    height: auto

.widget-buttons
  margin-bottom: 20px
  &__btn
    margin-bottom: 10px
.widget-buttons__btn:last-child
  margin-bottom: 0