@import "_mixins/_media-breakpoints"

    
// Colors

$light-color:           #ffffff
$dark-color:            #000000
$main-accent-color:     #00bfb4
$main-secondary-color:  #00ABD3
$main-primary-color:    #243953
$lightText-color:       #9b9b9b
$heading-text-color:    #4a4a4a
$white-hover-color:     #f8f9fa
$widget-link-color:     #79828b
$widget-title-color:    #42505c
$font-lignt2-color:     #606060
// override bootstrap colors

$mt-primary:            #00bfb4
$mt-secondary:          #7e72f2
$mt-warning:            #ea5455
$mt-warning-light:      #ea6381
$mt-danger:             #ff9f43
$mt-success:            #28c76f

// Charts

$violet-color:         #7467f0

$boxShadow:            0px 2px 8px rgba(0,0,0,0.14)
$boxTransition:         box-shadow 0.3s ease
$borderRadius:          5px
$borderRadius-second:   4px
// @ Media breakpoint

$sm:                    576px
$md:                    768px
$lg:                    992px
$xl:                    1200px

