@import "_mixins/_media-breakpoints"

    
// Colors

$light-color:           #ffffff
$dark-color:            #000000
$main-accent-color:     #00bfb4
$main-secondary-color:  #00ABD3
$main-primary-color:    #243953
$lightText-color:       #9b9b9b

$white-hover-color:     #f8f9fa


$boxShadow:            0px 2px 8px rgba(0,0,0,0.14)
$boxTransition:         box-shadow 0.3s ease
$borderRadius:          5px
// @ Media breakpoint

$sm:                    576px
$md:                    768px
$lg:                    992px
$xl:                    1200px

